@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #16182A;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	margin-left: 20px;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	width: 70px;
	margin-right: auto;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #009DF7;
}

button {
	padding: 9px 25px;
	background-color: rgba(0,136,169,0.2);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0,136,169,1);
}